.body-text {
  color: rgb(0, 0, 0);
  font-size: 420px;
  font-weight: bold;
}

.crying {
  position: center;
  top: 400px;
  left: 0;
  width: 402px;
  height: 410px;
}

.list-container {
  border-radius: 10px;
  border-color: firebrick;
  width: 100%;
  height: 300px;
}
